<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your little helpdesk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div  class="capycontainer">
        <img src="{{ url_for('static', filename='images/capybara.png') }}" alt="Capybara" class="mascota">
    </div>
    <div class="container">
        <div class="header">
            <div>
                <h1>Support Ticket List</h1>
                <a href="{{ url_for('add_ticket') }}" class="btn-add">+ Add New Ticket</a> 
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Problem</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>#{{ ticket.id }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.status }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No tickets for now.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/logout" style="margin-left: 10px; color: #888;">Logout</a>

</body>
</html>