<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capy Helpdesk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   
        <img src="{{ url_for('static', filename='capy_list.png') }}" alt="Capybara" class="capy">
  
    <div class="container">
        <div class="header">
            <div>
                <h1>Support Ticket List</h1>
                <a href="{{ url_for('add_ticket') }}" class="btn-add">+ Add New Ticket</a> 
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Problem</th>
                    <th>Description</th>
                    <th>User ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>#{{ ticket.id }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.user_id}}</td>
                <td>
                {% if ticket.status == 'Resolved' %}
                    <span style="color: green;">✅ Resolved</span>
                {% else %}
                    <span style="color: orange;">⏳ Resolve</span>
                {% endif %}
            </td>
            <td>
                {% if ticket.status != 'Resolved' %}
                    <a href="{{ url_for('resolve_ticket', ticket_id=ticket.id) }}" class="btn-resolve">Done</a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
</tbody>
            </tbody>
        </table>
    </div>
    <a href="/logout" style="margin-left: 10px; color: #264634;">Logout</a>

</body>
</html>